################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ModelCompiler Solution/v15/Server/sqlite3
/Core/obj/Debug
/.vs/ModelCompiler Solution/v15
/ModelCompiler/obj/Debug
